.container {
    margin-top: 50px;
}

.card {
    max-width: 400px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card-title {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #D7B377;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #C69C4C;
}

.text-center {
    text-align: center;
}

.text-danger {
    color: red;
}