nav {
    display: flex;
    gap: 20px;
}

a {
    color: #F5F0F6; 
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px; 
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #385F71;
}
